<p style="color: green"><%= notice %></p>

<%= render @libro %>

<div>
  <%= link_to "Editar este libro", edit_libro_path(@libro) %> |
  <%= link_to "Volver a libros", libros_path %>

  <%= button_to "Eliminar este libro", @libro, method: :delete %>
</div>
